
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.frame-1-2He {
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;

  .item--1fN {
    padding: 1.9rem 36rem 1.7rem 50.9rem;
    background-repeat: no-repeat;
    flex-shrink: 0;
    display: flex;
    background-size: 100% 100%;
    background-position: center;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0));
    background-image: url('REPLACE_IMAGE:d292b8ef43c032374f3d90658b807bf0549858e0');
    background-color: #ffffff;

    .group-2-Qqv {
      flex-shrink: 0;
      margin: 0rem 53.166rem 9.383rem 36.9rem;
      width: calc(100% - 90.0665rem);
      align-items: center;
      display: flex;
      flex-direction: column;

      .path1-WPA {
        margin: 0rem 0rem 1.3rem 0.005rem;
        width: 6.2382rem;
        height: 4.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .path0-RW8 {
        height: 2.817rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 15.0335rem;
      }
    }
    .item--ZcL {
      margin-bottom: 5.3rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .item--UzC {
        font-weight: 700;
        line-height: 1.1725;
        color: #f9bf3b;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 3.2rem;
        letter-spacing: 0.032rem;
        text-transform: uppercase;
        flex-shrink: 0;
        margin-right: 1.8rem;
      }
      .auto-group-z11a-sFe {
        position: relative;
        flex-shrink: 0;
        width: 100%;
        height: 11.3rem;

        .line-1-stroke-n7i {
          left: 0;
          top: 3.2rem;
          background-color: #ffffff;
          width: 23.1rem;
          height: 0.2rem;
          position: absolute;
        }
        .line-2-stroke-JLx {
          width: 23.1rem;
          height: 0.2rem;
          position: absolute;
          left: 67rem;
          top: 3.2rem;
          background-color: #ffffff;
        }
        .item--1mA {
          top: 0;
          font-weight: 700;
          text-transform: uppercase;
          white-space: nowrap;
          left: 24.5rem;
          height: 7.6rem;
          position: absolute;
          font-size: 6.4rem;
          line-height: 1.1725;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          width: 47.9rem;
        }
        .item--6nc {
          font-weight: 700;
          text-transform: uppercase;
          color: #f9bf3b;
          font-family: Roboto, 'Source Sans Pro';
          width: 104.7rem;
          left: 0.4rem;
          top: 7.5rem;
          font-size: 3.2rem;
          white-space: nowrap;
          height: 3.8rem;
          position: absolute;
          line-height: 1.1725;
          letter-spacing: 0.032rem;
        }
      }
    }
    .button-uVA {
      width: calc(100% - 80.2rem);
      font-weight: 400;
      font-family: Roboto, 'Source Sans Pro';
      display: flex;
      justify-content: center;
      height: 5.8rem;
      flex-shrink: 0;
      white-space: nowrap;
      align-items: center;
      background-color: #059bbc;
      margin: 0rem 47.6rem 4rem 32.6rem;
      font-size: 1.6rem;
      line-height: 1.1725;
      color: #ffffff;
    }
    .arrowdown-button-Y2L {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 49.1rem 0rem 36.2rem;
      width: calc(100% - 85.3rem);

      .item--roi {
        color: #828280;
        font-family: Roboto Serif, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.1725;
      }
      .arrowdown-1-KSQ {
        width: 2.5rem;
        height: 1.6rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.9rem;
      }
    }
  }
  .auto-group-kpr8-XHa {
    height: 110.1rem;
    position: relative;
    flex-shrink: 0;
    width: 100%;

    .item--Twv {
      left: 0.1rem;
      overflow: hidden;
      align-items: center;
      box-sizing: border-box;
      height: 55.5rem;
      position: absolute;
      top: 54.6rem;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      padding: 3.1rem 1.3rem 9.8rem 3rem;
      width: 192rem;

      .item--M1i {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 22.4rem 3.7rem 0rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.1725;
        color: #299cbd;
        font-family: Roboto Serif, 'Source Sans Pro';
      }
      .auto-group-7g9e-oeQ {
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .sm5afbf1d28feb1-1-9yA {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 3.1rem;
          width: 36rem;
          height: 36rem;
          object-fit: cover;
        }
        .auto-group-mbhj-5rp {
          height: 27.9rem;
          position: relative;
          flex-shrink: 0;
          margin-top: 2rem;
          width: 148.6rem;

          .b-b-lppaste-3-1-2--DTE {
            height: 25.2rem;
            top: 2.7rem;
            font-weight: 400;
            line-height: 1.05;
            width: 86.2rem;
            left: 0;
            font-size: 2rem;
            color: #848484;
            font-family: Roboto Serif, 'Source Sans Pro';
            position: absolute;
          }
          .item-10--iCx {
            height: 15.6rem;
            left: 83.9rem;
            top: 0;
            font-family: Roboto Serif, 'Source Sans Pro';
            width: 64.7rem;
            position: absolute;
            font-size: 2.1rem;
            font-weight: 400;
            line-height: 1.2380952381;
            color: #848484;
          }
        }
      }
    }
    .item--Lde {
      overflow: hidden;
      flex-direction: column;
      padding: 11.4rem 23.6rem 6.1rem 30.35rem;
      width: 192rem;
      height: 55.5rem;
      position: absolute;
      display: flex;
      background-color: #efefef;
      box-sizing: border-box;
      left: 0;
      top: 0;
      align-items: center;

      .header-cr4 {
        flex-shrink: 0;
        margin: 0rem 39.9rem 6.6rem 40.05rem;
        width: calc(100% - 79.95rem);
        align-items: center;
        display: flex;
        flex-direction: column;

        .item--LGG {
          margin: 0rem 8.8rem 1.1rem 0rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.1725;
          color: #252525;
          font-family: Roboto Serif, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .line-3-stroke-Q1E {
          margin: 0rem 26.1rem 1.2rem 14.8rem;
          width: calc(100% - 40.9rem);
          height: 0.4rem;
          background-color: #f9bf3b;
          flex-shrink: 0;
        }
        .item--iXi {
          line-height: 1.1725;
          color: #4d4d4d;
          font-family: Roboto Flex, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.9rem;
          font-weight: 400;
        }
      }
      .auto-group-x1m2-wQU {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 13.3rem 1.4rem 12.95rem;
        width: calc(100% - 26.25rem);

        .image-5-U9W {
          margin-right: 29.7rem;
          width: 15.3rem;
          height: 15.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .image-6-1QL {
          height: 15.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 36.2rem;
          width: 15.3rem;
        }
        .image-7-LxQ {
          height: 15.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          width: 15.3rem;
        }
      }
      .auto-group-9l2c-Hse {
        width: 100%;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .item--3bv {
          margin-right: 2.2rem;
          font-size: 2rem;
          font-weight: 400;
          flex-shrink: 0;
          max-width: 41.1rem;
          text-align: center;
          line-height: 1.075;
          letter-spacing: 0.05rem;
          color: #686868;
          font-family: Roboto Flex, 'Source Sans Pro';
        }
        .b--2ye {
          margin-right: 8.45rem;
          text-align: center;
          font-size: 2rem;
          font-family: Roboto Flex, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 44.5rem;
          font-weight: 400;
          line-height: 1.075;
          letter-spacing: 0.05rem;
          color: #686868;
        }
        .item--gYQ {
          line-height: 1.075;
          letter-spacing: 0.05rem;
          color: #686868;
          margin-bottom: 0.3rem;
          text-align: center;
          font-size: 2rem;
          flex-shrink: 0;
          max-width: 41.8rem;
          font-weight: 400;
          font-family: Roboto Flex, 'Source Sans Pro';
        }
      }
    }
  }
  .auto-group-u3be-4Yx {
    background-position: center;
    background-image: url('REPLACE_IMAGE:7e014fb2d62f8f12590bc63ff5cbee1396713f95');
    flex-shrink: 0;
    width: 100%;
    height: 55.5rem;
    box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
    background-size: 100% 100%;
    background-repeat: no-repeat;

    .item--caU {
      padding: 6.3rem 25.35rem 6.3rem 38.3rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.400000006);
      box-sizing: border-box;
      width: 192rem;
      overflow: hidden;
      position: relative;

      .group-1-hM2 {
        flex-shrink: 0;
        margin: 0rem 38.75rem 10.55rem 33.2rem;
        width: calc(100% - 71.95rem);
        align-items: center;
        display: flex;
        flex-direction: column;

        .item--hkL {
          font-size: 2.3rem;
          font-weight: 700;
          line-height: 1.1304347826;
          color: #e7e7e7;
          font-family: Roboto Serif, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.25rem;
        }
        .line-4-stroke-NrU {
          background-color: #f9bf3b;
          flex-shrink: 0;
          margin: 0rem 23.3rem 0rem 15.8rem;
          width: calc(100% - 39.1rem);
          height: 0.5rem;
        }
      }
      .auto-group-um68-u5i {
        width: 100%;
        height: 17.8rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 8.6rem;

        .auto-group-i5h2-2g8 {
          height: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-right: 11.6rem;

          .eclipse-1-Nzt {
            width: 20.4rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 11.95rem;

            .auto-group-dbma-vFi {
              box-sizing: border-box;
              padding: 1.4rem;
              width: calc(100% - 11.2rem);
              background-color: #b4e2ff;
              border-radius: 4.6rem;
              flex-shrink: 0;
              margin: 0rem 5.6rem 2.5rem 5.6rem;

              .image-7-F36 {
                width: 6.4rem;
                height: 6.4rem;
                object-fit: cover;
                vertical-align: top;
              }
            }
            .item--yDz {
              line-height: 1.1725;
              color: #979797;
              font-family: Roboto Serif, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 20.4rem;
              text-align: center;
              font-size: 1.3rem;
              font-weight: 700;
            }
          }
          .eclipse-2-D8L {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 10.6rem;
            width: 25.4rem;

            .auto-group-svos-MVS {
              background-color: #b4e2ff;
              border-radius: 4.6rem;
              flex-shrink: 0;
              margin: 0rem 8.15rem 2.5rem 8.05rem;
              box-sizing: border-box;
              padding: 1.9rem 1.2rem 1.9rem 2.6rem;
              width: calc(100% - 16.2rem);

              .image-9-sCt {
                width: 5.4rem;
                height: 5.4rem;
                object-fit: cover;
                vertical-align: top;
              }
            }
            .item--14C {
              flex-shrink: 0;
              text-align: center;
              font-size: 1.3rem;
              font-weight: 700;
              line-height: 1.1725;
              color: #979797;
              font-family: Roboto Serif, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .eclipse-3-Tgt {
            flex-shrink: 0;
            width: 30rem;
            align-items: center;
            display: flex;
            flex-direction: column;

            .auto-group-bt2g-bYC {
              padding: 1.6rem 1.4rem 1.2rem 1.4rem;
              width: calc(100% - 20.8rem);
              background-color: #b4e2ff;
              border-radius: 4.6rem;
              flex-shrink: 0;
              margin: 0rem 10.45rem 2.5rem 10.35rem;
              box-sizing: border-box;

              .image-10-JxQ {
                width: 6.4rem;
                height: 6.4rem;
                object-fit: cover;
                vertical-align: top;
              }
            }
            .item--qSY {
              text-align: center;
              font-size: 1.3rem;
              font-weight: 700;
              line-height: 1.1725;
              color: #979797;
              font-family: Roboto Serif, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .eclipse-4-WHn {
          width: 18.4rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-ff8k-TD2 {
            background-color: #b4e2ff;
            border-radius: 4.6rem;
            flex-shrink: 0;
            margin: 0rem 4.65rem 2.5rem 4.55rem;
            box-sizing: border-box;
            padding: 1.4rem;
            width: calc(100% - 9.2rem);

            .image-11-yx4 {
              width: 6.4rem;
              height: 6.4rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
          .item--uqi {
            font-weight: 700;
            line-height: 1.1725;
            color: #979797;
            font-family: Roboto Serif, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 18.4rem;
            text-align: center;
            font-size: 1.3rem;
          }
        }
      }
      .arrowdown-1-Mhi {
        margin-right: 9.05rem;
        width: 2.5rem;
        height: 1.6rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .item--2or {
    margin-right: 0.1rem;
    box-sizing: border-box;
    padding-top: 6rem;
    position: relative;
    align-items: center;
    background-color: #ffffff;
    flex-shrink: 0;
    width: calc(100% - 0.1rem);
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .body-KY4 {
      flex-shrink: 0;
      margin: 0rem 72.8rem 5.3rem 72.8rem;
      width: calc(100% - 145.6rem);
      align-items: center;
      display: flex;
      flex-direction: column;

      .first-1-f68 {
        margin: 0rem 0.8rem 2.2rem 0rem;
        width: 28.6rem;
        height: 16.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .item--ait {
        color: #3c3c3c;
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0.2rem 1.1rem 0rem;
        text-align: center;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1.5454545455;
        letter-spacing: 0.11rem;
        font-family: Roboto Serif, 'Source Sans Pro';
      }
      .item-20-2023-18-00-qep {
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1rem;
        font-size: 2.9rem;
        color: #2b9dbd;
        font-family: Roboto, 'Source Sans Pro';
        text-align: center;
        font-weight: 700;
        line-height: 1.1724137931;
      }
      .item--8tp {
        color: #717171;
        font-family: Roboto Serif, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: 0.08rem;
        flex-shrink: 0;
        text-align: center;
        line-height: 2.125;
        white-space: nowrap;
      }
    }
    .bottom-yeY {
      width: 100%;
      height: 12.9rem;
      position: relative;
      background-color: #1a1a1a;
      flex-shrink: 0;

      .item-372-w5a {
        width: 36.9rem;
        height: 4.8rem;
        position: absolute;
        left: 77.45rem;
        text-align: center;
        font-size: 1.2rem;
        font-family: Roboto, 'Source Sans Pro';
        top: 4.5rem;
        font-weight: 700;
        line-height: 1.3333333333;
        color: #4f4f4f;
      }
      .line-5-stroke-WXz {
        height: 0.2rem;
        position: absolute;
        left: 77.356rem;
        top: 6rem;
        background-color: #888888;
        width: 14.0026rem;
      }
      .line-6-stroke-SwS {
        height: 0.2rem;
        position: absolute;
        left: 91.8632rem;
        top: 6rem;
        background-color: #888888;
        width: 22.4547rem;
      }
    }
  }
}
