* {
    box-sizing: border-box;
    margin: auto;
    padding: auto;
}

.container {
    width: auto;
    margin: auto;
    background-image: none;
}

.promo {
    height: auto;
    background: url("assets/645-6.jpg") center center/cover no-repeat;
    padding: 39px 0 62px 0;
    
}

.logo .logo_img {
    color: white;
    display: block;
    margin:  auto;
}

.logo .logo_text {
    color: #ffffff;
    font-style: Arial;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-transform: auto;
    text-align: center;
    margin-top: 14px;
}

h1 {
    margin-top: 53px;
}

h2.title {
    margin-top: 30px;
}



.title {
    color: #27b0ff;
    font-style: "Arial - Black";
    font-size: 35px;
    font-weight: 400;
    line-height: 24px;
    text-transform: auto;
    text-align: center;
}

.simple .title_big {
    color: #ffffff;
    font-style: "Arial - Black";
    font-size: 80px;
    font-weight: 400;
    /* line-height: 24px; */
    text-transform: uppercase;
    text-align: center;
    margin-top: 21px;
}

.promo .promo_text {
    padding: 0 13px;
    margin-top: 23px;
    color:
        #ffffff;
    font-family: "Arial Light";
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}

.promo .promo_text span {
    color: #f9bf3b;
    font-family: "Arial - Bold";
    font-weight: 700;

}

.promo .promo_btn {
    display: block;
    /* margin: 73px auto; */
    margin: 0 auto;
    margin-top: 73px;
    width: 313px;
    height: 72px;
    box-shadow: inset 0 0 0 Rgba(0, 0, 0, 0.18);
    border: 4px solid Rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #95db80 0%, #28abd3 100%);
    color: #ffffff;
    font-family: "Arial Condensed";
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
    /* outline: none; */

}

.more {
    margin-top: 73px;
}

.more .more_text {
    color: #ffffff;
    font-family: "Arial - Thin";
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting {
    height: auto;
    background-color: #efefef;
    padding: 85px 0 75px 0;
}

.waiting .waiting_header {
    color: #252525;
    font-family: Arial;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.waiting .waiting_divider {
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_subheader {
    margin-top: 17px;
    color: #4a4a4a;
    font-family: Arial;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
}

.waiting .waiting_wrapper {
    margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item {
    display: inline-block;
    vertical-align: top;
    margin: 50px 110px;
    width: 300px;
    text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_description {
    margin-top: 33px;
    color: #4a4a4a;
    font-family: Arial;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

.optimization {
    min-height: auto;
    padding: auto;
}

.optimization .optimization_header {
    margin-left: auto;
    color: #299cbd;
    /* font-family: "Roboto - Black"; */
    font-size: auto;
    font-weight: auto;
    text-transform: uppercase;
}

.optimization .optimization_text {
    margin-top: auto;
    margin-left: auto;
    color: #4a4a4a;
    /* font-family: "Roboto Light"; */
    font-size: 17px;
    font-weight: 300;
}

.optimization .optimization_text span {
    /* font-family: "Roboto - Bold"; */
    font-weight: auto;
}

.optimization .optimization_img {
    position: left ;
    top: -54px;
    left: -240px;
    z-index: -1;
}

.finish {
    min-height: auto;
    padding: 86px 0 79px 0;


    background: url("assets/bg2.gif") center center/cover no-repeat;
}

.finish .finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish_header {
    text-align: center;
    color: #f9bf3b;
}

.finish .finish_wrapper .finish_item {
    width: 204px;
}

.finish .finish_wrapper .finish_item .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 100%;
}

.finish .finish_wrapper .finish_item .finish_descr {
    margin-top: 25px;
    text-align: center;
    color: #efefef;
    /* font-family: Roboto; */
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
}

.gift {
    min-height: 200px;
    background-color:
        #EFEFEF;
    padding: 10px 0;
}

.gift .gift_img {
    display: block;
    margin: 40px auto;
}

.gift .gift_text {
    margin-top: 25px;
    color: #4a4a4a;
    /* font-family: "Roboto Light"; */
    font-size: 17px;
    font-weight: 300;
    text-align: center;
}

.gift .gift_btn {
    margin-top: 50px;
    margin-bottom: 50px;
}

.webinar {
    min-height: 400px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.webinar .webinar_img {
    display: block;
    margin: 40px auto;
}

.webinar .webinar_header {
    margin-top: -15px;
    text-align: center;
    text-transform: auto;
}

.webinar .webinar_data {
    margin-top: 15px;
    /* font-family: Roboto; */
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    text-transform: auto;
    color: #299CBD;
}

.webinar .webinar_text {
    margin-top: 15px;
    /* font-family: Roboto; */
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    text-align: center;
    color: #4a4a4a;
}

footer {
    height: 169px;
    background: #1A1A1A;
}

footer .footer_wrap {
    display: flex;
    justify-content: center;
}

footer .footer_link,
footer .footer_text,
footer .footer_link_divider {
    margin-top: 70px;
    /* font-family: Roboto; */
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    color: #888888;
}

footer .footer_text {
    margin-top: 0;
}

footer .footer_link_divider {
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 800;
}